 *{
    margin: 0;
    padding: 0;
 }

.cabeçalho {
    background-color: #06053C;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.Escola{
    background-image: linear-gradient(#06053C,#252466);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-contecuso{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}